<style>
	div.cell{
		width: 95%;
		margin-left:auto;
		margin-right:auto;
	}
	.output_png{
		text-align: center;
		margin-left:auto;
		margin-right:auto;
	}
	div.text_cell_render{
		font-family:"Calibri (Body)";
		font-size: 16px;
		width: 100%;
		margin-left:auto;
		margin-right:auto;
		padding: 0;
	}
	.prompt{
		display: None;
	}
	.anchor-link{
		display: None;
	}
	.output_stderr{
		display: None;
	}
	hr{
		border-color: black;
	}
</style>